/* GENERAL */

header,
footer,
main {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
  font-family: Montserrat, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

ul,
ol,
p,
h1,
div {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header > nav,
header li,
main > div,
main img,
main a,
footer,
footer li,
footer > ul,
div > span,
div a {
  display: inline-block;
}

nav > img,
footer > ul {
  float: left;
}

nav > ul,
footer > div {
  float: right;
}

nav li a:link,
nav li a:visited {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active {
  text-decoration: underline 1px #554485;
}

main > div {
  width: 38%;
  color: #202020;
  margin-right: 12px;
  display: table-cell;
  vertical-align: middle;
}

main img {
  width: 400px;
  display: table-cell;
}

nav {
  width: 100%;
}

header {
  margin-top: 28px;
  margin-bottom: 40px;
}

main {
  margin-bottom: 45px;
  display: table;
}

div > span {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 300;
}

div > h1 {
  font-weight: 800;
  font-size: 43px;
  margin-bottom: 55px;
}

div > p {
  margin-bottom: 50px;
  font-size: 13px;
}

main a {
  font-size: 13px;
  padding: 12px 25px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 30px;
}

main a:nth-of-type(1):link,
main a:nth-of-type(1):visited {
  background: #554485;
  color: #fff;
  margin-right: 15px;
}

main a:nth-of-type(1):hover,
main a:nth-of-type(1):active {
  background: #47396e;
}

main a:nth-of-type(2):link,
main a:nth-of-type(2):visited {
  box-shadow: 0 0 0 1.2px #554485 inset;
  color: #554485;
  font-weight: 600;
}

main a:nth-of-type(2):hover,
main a:nth-of-type(2):active {
  background-color: #e5def8;
}
